<h3>All entries</h3>
<p>Showing {{first}} to {{last}} of {{total}} entries. Click a name for additional details.</p>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Contractor</th>
        <th>Customer</th>
        <th>Avg.&nbsp;Rate</th>
        <th>Hours</th>
        <th>Months</th>
        <th>Sales</th>
      </tr>
    </thead>
    <tbody>
      {{#each results}}
        <tr>
          <td><a href="#/contractor/{{id}}">{{name}}</a><br /><small>{{vendor}}</small></td>
          <td>{{agency}}</td>
          <td>{{{rate}}}</td>
          <td>{{hours}}</td>
          <td>{{monthsWorked}}</td>
          <td>{{sales}}</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<nav>
  <ul class="pager">
    <li class="previous{{#unless prevPage}} disabled{{/unless}}">
      <a {{#if prevPage}}href="#/browse/page/{{prevPage}}"{{/if}} id="prev">
        <span aria-hidden="true">&larr;</span> Previous
      </a>
    </li>
    <li>Page {{page}} of {{totalPages}}</li>
    <li class="next{{#unless nextPage}} disabled{{/unless}}">
      <a {{#if nextPage}}href="#/browse/page/{{nextPage}}"{{/if}} id="next">
        Next <span aria-hidden="true">&rarr;</span>
      </a>
    </li>
  </ul>
</nav>
