<h3>{{name}} <small>{{vendor}}</small></h3>
<p><span class="auto-field">{{vendor}}</span> has billed <span class="auto-field">{{sales}}</span> in sales since the beginning of fiscal year 2014 to <span class="auto-field">{{agency}}</span> for work performed by <span class="auto-field">{{name}}</span>. The table below shows each of the reports to the Department of Information Resources submitted by {{vendor}}.</p>
<p class="doc-links"><small><i class="fa fa-file-text"></i><a href="http://www2.dir.state.tx.us/DIR_Contracts/{{contract}}.pdf" target="_blank">View contract</a></small></p>

<div class="row">
  <div class="col-xs-12 col-sm-7">
    <h3>Individual sales reports</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Month</th>
          <th>Title</th>
          <th>Hours billed</th>
          <th>Rate</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        {{#each transactions}}
          <tr>
            <td>{{month}}</td>
            <td>{{level}}</td>
            <td>{{hours}}</td>
            <td>{{rate}}</td>
            <td>{{amount}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="col-xs-12 col-sm-5 charts">
    <h4>Sales by month</h4>
    <div id="sales-chart"></div>
    <h4>Hours billed by month</h4>
    <div id="hours-chart"></div>
  </div>
</div>
