<h3>{{name}} <small>{{vendor}}</small></h3>

<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-8">
    <h2>Billing for {{agency}}:</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Month</th>
          <th>Title</th>
          <th>Hours billed</th>
          <th>Rate</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        {{#each transactions}}
          <tr>
            <td>{{month}}</td>
            <td>{{level}}</td>
            <td>{{hours}}</td>
            <td>{{rate}}</td>
            <td>{{amount}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="col-xs-12 col-sm-5 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Top contractors for {{agency}}</div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Sales</th>
            </tr>
          </thead>
          <tbody>
            {{#each topAgency}}
              <tr{{#if same}} class="active"{{/if}}>
                <th><a href="#/contractor/{{id}}">{{name}}</a></th>
                <td>{{amount}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
