{{#if results}}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Agency</th>
        <th>Vendor</th>
        <th>Avg. rate</th>
        <th>Min. rate</th>
        <th>Max rate</th>
        <th>Hours</th>
        <th>Months</th>
        <th>Sales</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each results}}
        <tr>
          <th>{{name}}</th>
          <td>{{agency}}</td>
          <td>{{vendor}}</td>
          <td>{{avgRate}}</td>
          <td>{{minRate}}</td>
          <td>{{maxRate}}</td>
          <td>{{hours}}</td>
          <td>{{monthsWorked}}</td>
          <td>{{sales}}</td>
          <td><a href="#/contractor/{{id}}">Details</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="well"><strong>No entries match your query.</strong> Try searching by only last name or try <a href="#/browse/page/1">browsing</a> the database to find the contractor you're looking for.</div>
{{/if}}
